@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">@ViewData["Title"]</h1>
    <h2 id="external-login-title" class="text-center">Liên kết tài khoản @Model.ProviderDisplayName của bạn</h2>
    <hr class="mb-4" />

    <p id="external-login-description" class="text-info text-center">
        Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
        Vui lòng nhập địa chỉ email cho trang này bên dưới và nhấn nút Đăng ký để hoàn tất đăng nhập.
    </p>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="shadow p-4 rounded bg-light">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Vui lòng nhập email của bạn" />
                    <label asp-for="Input.Email" class="form-label">Email của bạn</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-primary btn-lg">Đăng ký</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
