@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<div class="container mt-5">
    <header class="text-center">
        <h1 class="text-primary">@ViewData["Title"]</h1>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-danger btn-lg">Đăng xuất</button>
            </form>
        }
        else
        {
            <p class="text-success">Bạn đã đăng xuất thành công khỏi ứng dụng.</p>
        }
    </header>
</div>
