@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Một email xác thực đã được gửi đến bạn, nếu đã xác thực tài khoản <a id="confirm-link" href="/Identity/Account/Login">nhấn vào đây để đăng nhập</a>
        </p>
    }
    else
    {
        <p>
            Kiểm tra email của bạn để xác thực tài khoản
        </p>
    }
}

