@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<div class="container mt-5">
    <h1 class="text-success text-center">@ViewData["Title"]</h1>
    <p class="text-center">
        Mật khẩu của bạn đã được đặt lại thành công. Vui lòng <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
    </p>
</div>
